body {
  background-color: skyblue;
}

h1   {
  color: blue;
}

/*p {
  border: 2px solid powderblue;
  padding: 10px;
  margin: 50px;
}*/

p {

}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid orange;
}


.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

#idtest {
  color:white;
}
